@font-face {
  font-family: 'GangwonEdu_OTFLightA';
  src: url('../resource/fonts/Gangwon_Edu_Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('../resource/fonts/Gangwon_Edu_Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Orbit-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: fit-content;
}

body {
  font-family: 'Orbit-Regular', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 20px;
  margin-bottom: 10px;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.autdio-controler {
  position: absolute;
  right: 13px;
  top: 13px;
}

.name-section {
  margin: 87px 0 20px 0;
}

.name-text {
  font-size: clamp(16px, 2vw, 28px);
  text-align: center;
}

.name-text2 {
  margin: 3px;
}

.intro-text-section {
  font-family: 'GangwonEdu_OTFLightA', sans-serif;
  padding: 50px;
  font-size: clamp(15px, 2vw, 19px);
  line-height: 18px;
  white-space: nowrap;
  margin-top: -23px;
  text-align: center;
}

.bold-text {
  font-family: 'GangwonEdu_OTFBoldA', sans-serif;
}

.green-text {
  color: #298751;
  font-size: 21px;
  line-height: 26px;
}

.number {
  font-family: sans-serif !important;
}

.icon_img, .phone_square {
  width: 35px;
}

.contact-section {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.contact-button {
  position: relative;
  padding: 8px 0;
  text-align: center;
  z-index: 999;
  color: #298751;
  border-radius: 22px;
  width: 75%;
  border: 1px solid #298751;
  background-color: #fff;
  margin-bottom: -20px;
}

.contact-button>.arrow {
  position: absolute;
  top: 9px;
  right: 18px;
  transform: rotate(0);
  transition-duration: .5s;
  transform-origin: center center;
}

.contact-button>.arrow.rotate {
  top: 8px;
  transform: rotate(180deg);
  transition-duration: .5s;
}

.arrow svg {
  width: 2.75rem;
  height: 0.95rem;
  margin-top: -6px;
}

.contact-title {
  display: block;
  padding: 16px 0 12px;
  text-align: center;
  line-height: 1.5rem;
  letter-spacing: 3px;
  background: #f9f9f9;
  font-size: 17px;
  width: 100%;
}

.contact-content {
  padding: 0 1rem 0 1rem;
  box-sizing: border-box;
  width: 75%;
  border-radius: 6px;
  border: 1px solid #298751;
  height: 0;
  transition: all 0.4s ease-out;
  overflow: hidden;
}

.contact-content.expand {
  padding: 33px 1rem 1rem 1rem;
  height: 254px;
  transition: all 0.4s ease-out;
  overflow: hidden;
}

.contact-content>div:first-child {
  border: 0;
}

.contact-content>div>.cell:last-child {
  flex: 1;
}

.contact-content>div {
  display: flex;
  padding: 0;
  margin-bottom: 10px;
}

.contact-content>div>.cell {
  flex: 1.5;
  text-align: center;
  letter-spacing: .5px;
}

.contact-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-top: -2px;
  vertical-align: middle;
  line-height: 0;
  text-align: center;
  fill: #298751;
}

.contact-icon-blue, .contact-icon-pink {
  margin-left: 12px;
}

.contact-icon-pink > a > svg {
  fill: rgb(206, 131, 131);
}

.contact-text-blue {
  color: #298751;
}

.contact-text-pink {
  color: rgb(206, 131, 131);
}

.contact-hr {
  background: #298751;
  height: 1px;
  border: 0;
}

.gallery-title {
  font-size: 20px;
  text-align: center;
  margin: 70px 0 10px 0;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  padding: 0 1rem;
}

.gallery-grid.more {
  margin-top:5px;
  display: none;
}

.gallery-grid img {
  aspect-ratio: 1;
  object-fit: cover;
}

.gallery-img-more {
  text-align: center;
  color: #298751;
  border-radius: 22px;
  border: 1px solid #298751;
  background-color: #fff;
  width: 75%;
  height: 40px;
  margin: 0 auto;
  margin-top: 17px;
  position: relative;
}

.gallery-img-more-text {
  margin: -3px 0 0 5px;
}

.gallery-img-icon {
  fill: #298751;
}

.gallery-arrow-icon {
  position: absolute;
  right: 15px;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  height: auto;
}

/*.swiper-slide .swiper-zoom-container{*/
/*  display: flex;*/
/*  align-items: center;*/
/*  height: auto;*/
/*}*/

.swiper-button {
  color: #c7d1d7;
  opacity: 50%;
  --swiper-navigation-size: 22px;
}

.swiper-button-next::after, .swiper-button-prev::after {
  font-weight: bold;
}

.gallery-modal {
  display: none;
  background: #fff;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 9999;
}

.gallery-modal.active {
  display: flex;
}

body:has(.gallery-modal.active) {
  overflow: hidden;
}

.gallery-modal-top-wrapper {
  position: relative;
  width: 100%;
}

.gallery-modal-close-icon {
  position: absolute;
  top: -44px;
  right: 12px;
  opacity: 60%;
}

.map-title {
  text-align: center;
  margin: 65px 0 10px;
}

.map-guide {
  padding: 1rem;
  font-size: 12px;
}

.map-address {
  font-size: 18px;
  margin: 10px 0 35px 0;
  text-align: center
}

.map-address-detail {
  font-size: 14px;
  color: grey;
  margin: 5px 0;
}

.map-bold-text {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 15px;
  padding-left: 10px;
}

.map-guide-color {
  display: inline-block;
  color: #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 0 10px 2px 10px;
  width: auto;
  margin-right: 3px;
}

.map-guide svg {
  width: 19px;
  height: 19px;
  margin-right: 5px;
  margin-top: 2px;
}

.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  padding: 0 4px;
  border-radius: 4px;
  font-size: 12px;
  border: 1px solid #e1e1e1;
  color: #333;
  letter-spacing: .5px;
  text-align: center;
  line-height: 24px;
  margin-left: 5px;
}

.copy svg {
  width: 14px;
  height: 14px;
  margin-right: 2px;
}

.map-guide ul li {
  margin: 10px 21px;
  letter-spacing: -1px;
}

.title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #298751;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
}

.alert {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 999;
}

.alert .background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0,0,0,0.2);
}

.alert .in {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  width: 80%;
  max-width: 365px;
  z-index: 100;
  background: #fff;
  border-radius: 10px;
  padding: 30px 15px;
  box-shadow: 4px 7px 13px rgba(0, 0, 0, 0.2);
}

.alert .title {
  color: #000;
  line-height: 1.3;
  font-size: 13px;
  margin-bottom: 15px;
}

.alert .btns button, #letterForm button {
  color: #298751;
  background-color: #fff;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: inline-block;
  border : 1px solid #298751;
  font-weight: 500;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  width: 80px;
  border-radius: 8px;
}

.textarea {
  display: none;
}

.account-number-text {
  text-align: center;
  margin: 20px;
}

.account-number-title {
  margin: 40px;
}

.pack_wrap {
  box-shadow: 1px 1px 2px rgb(0 0 0/5%);
  width: 310px;
  background: #fff;
  margin: 10px auto;
  border-radius: 6px;
  border: 0;
}

.pack_wrap.active .pack {
  border-radius: 6px 6px 0 0;
}

.pack {
  font-size: 1.1rem;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px dashed #e2e4ea;
  border: 0;
  color: #262f3c;
  background: rgb(243,243,243);
  display: block;
  text-align: center;
  box-sizing: border-box;
  padding: 0 20px;
  position: relative;
  border-radius: 6px;
}

.pack_wrap.active .pack svg {
  transform: rotate(180deg);
}

.pack > svg {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 15px;
  line-height: 18px;
  height: 18px;
  transition: all .3s ease;
}

.pack_wrap.active .c.cnt3 {
  height: 221px;
}

.pack_wrap.active .c {
  height: fit-content;
}

.pack_wrap .c {
  background: #fff;
  border-radius: 0 0 6px 6px;
  font-family: noto sans kr,sans-serif;
  height: 0;
  overflow: hidden;
  -moz-transition: height .5s ease;
  -webkit-transition: height .5s ease;
  -o-transition: height .5s ease;
  transition: height .5s ease;
}

.pack_wrap .c>li {
  font-size: 1.0rem;
}

.pack_wrap .c>li:nth-child(1) {
  border-top: 0;
}

.pack_wrap .c>li {
  position: relative;
  padding: 10px 12px;
  color: #333;
  line-height: 24px;
}

.ft-gowundodum .ft-gowun-bold {
  -webkit-text-stroke: 0;
}

.ft-gowundodum .ft-gowun-bold * {
  -webkit-text-stroke: 0;
}

.ft-gowundodum *:not(.ft-gowun-bold) {
  -webkit-text-stroke: 0.2px;
}

.pack_wrap .c>li {
  position: relative;
  padding: 10px 12px;
  color: #333;
  line-height: 24px;
  border-top: 1px solid #eee;
}

.pack_wrap .c>li .name {
  display: inline-block;
  margin-top: 5px;
}

.pack_wrap .c > li .b_1 {
  background: rgb(243,243,243);
}

.pack_wrap .c>li .b_1 {
  position: absolute;
  right: 12px;
  top: 10px;
  width: 60px;
  background: #f1f3f8;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  font-family: noto sans kr, sans-serif;
  height: 24px;
  border-radius: 3px;
  cursor: pointer;
}

.accst02 {
  padding: 30px 0 0;
}

.visible {
  opacity: 1;
}


element.style {
}
.ft-gowundodum *:not(.ft-gowun-bold) {
  -webkit-text-stroke: 0.2px;
}
.accst02 {
  padding: 30px 0 0;
}
.visible {
  opacity: 1;
}

.fadeInUp {
  animation-name: fadeInUp;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.account-number-wrap {
  background-color: blanchedalmond;
  padding-top: 10px;
  height: 553px;
  transition: height 0.5s ease;
}

.spacing {
  letter-spacing: -1px;
}

#gallery-load-cover {
  background-color: #fff;
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  transition: all 0.3s ease-out;
}

#gallery-load-cover.hidden {
  visibility: hidden;
  opacity: 0;
}

.letter-wrap {
  background-color: blanchedalmond;
  height: fit-content;
}

.letter-guide-text {
  text-align: center;
  font-size: 12px;
}

#letterWriteLetterBtn {
  text-align: center;
  color: #298751;
  border-radius: 22px;
  border: 1px solid #298751;
  background-color: blanchedalmond;
  width: 30%;
  height: 40px;
  margin: 0 auto;
  margin-top: 17px;
  font-size: 14px;
}

.letter-content-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
  justify-content: center;
  padding: 10px;
}

.letter-content {
  position: relative;
  margin: 10px;
}

.letter-content img {
  width: 100%;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
}

.letter-content-sender {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: auto;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 표시할 최대 줄 수 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.letter-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.letter-modal-content {
  background-color: #ccd3ca;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  height: 81%;
  border-radius: 10px;
  box-shadow: 4px 7px 13px rgba(0, 0, 0, 0.2);
  overflow: scroll;
}

#letterForm {
  margin-top: 45px;
}

.letter-modal-label {
  margin: 14px 0 6px 0;
}

#letterContent, #letterSender, #to {
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 7px;
  box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  color: #000;
}

.letter-modal-button {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

#letterForm button {
  width: 50%;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  background-color: rgba(92,147,83, .7);
  color: #fff;
}

.letter-modal-close {
  color: #7d7c7c;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 40px;
}

.letter-modal-warn {
  font-size: 11px;
  color: #7d7c7c;
}

footer {
  background-color: #ffd18d;
  font-family: sans-serif;
  padding: 16px 0 0 10px;
  font-size: 13px;
  line-height: 1.5;
  height: 50px;
}

.footer-copyright {
  font-weight: 700;
}

.cover-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.cover-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 600px;
  margin: 20px auto;
}

.cover-image {
  width: 100%;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.popup .background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0,0,0,0.7);
}

.popup .in {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  max-width: 365px;
  z-index: 100;
  background: #9A8771;
  border-radius: 10px;
  padding: 30px 15px;
  box-shadow: 4px 7px 13px rgba(0, 0, 0, 0.2);
}

.popup .in .content_1{
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.popup .in .content_2{
  display: none;
}

.popup .content_2 .title {
  color: #000;
  line-height: 1.3;
  font-size: 17px;
  margin-bottom: 15px;
}

.popup .content_2 .popup-subtitle {
  margin-top: 5px;
  font-weight: 900;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.popup-subtitle svg {
  margin-right: 8px;
  margin-top: 3px;
}

.popup .content_2 .map-guide-color {
  margin-left: -9px;
  font-size: 12px;
}

.popup .btns {
  text-align: center;
  margin-top: 15px;
}

.popup .btns button {
  color: #fff;
  background-color: rgba(69, 61, 51, 0.8);
  vertical-align: middle;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: inline-block;
  border: none;
  font-weight: 500;
  height: 40px;
  line-height: 32px;
  font-size: 15px;
  width: 80%;
  border-radius: 8px;
}

.popup hr {
  margin-top: 20px;
}

.shuttle_btn {
  color: blue;
  text-decoration: underline;
}

.shuttle_img_modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.9); 
  justify-content: center;
  align-items: center;
}

.shuttle_img_modal_wrapper {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.shuttle_img {
  width: 100%;
  height: auto;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.shuttle_img_close {
  position: absolute;
  top: -57px;
  right: 0px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

@keyframes zoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

.letter-contnet-detail {
  display: none;
}

.letter-contnet-detail {
  display: none;
}

.letter-group-title {
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
}

.letter-modal-detail {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.letter-modal-detail-content-wrap {
  background-color: #ccd3ca;
  margin: 5% auto;
  padding: 13px;
  width: 85%;
  height: 90%;
  border-radius: 10px;
  box-shadow: 4px 7px 13px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
}

.letter-modal-detail-label, 
.letter-modal-detail-labell, 
.letter-modal-detail-createAt, 
.letter-modal-detail-button {
  margin: 14px 0;
  flex-shrink: 0;
}

.letter-modal-detail-createAt {
  margin-bottom: 0;
}

.letter-modal-detail-content {
  background-color: #fff;
  padding: 5px;
  flex-grow: 1;
  overflow-y: auto;
  min-height: 60%;
  height: 70%;
  max-height: 85%;
}

.letter-modal-detail-createAt {
  text-align: right;
  font-size: 0.9rem;
  color: #666;
}

.letter-modal-detail-button {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px; /* 간격 추가 */
}

.letter-modal-deatil-close {
  color: #7d7c7c;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 40px;
}

.letter-modal-deatil-close-button {
  width: 100%;
  height: 35px;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  background-color: rgba(92,147,83, 0.7);
  color: #fff;
  position: relative;
}